
%% 编译设置

{erl_opts, [
    debug_info,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_function,
    warn_deprecated_function,
    warn_unused_import
]}.


{deps, [
    {cowboy, "1.0.1"} % package
]
}.

{shell, [
    {apps, [chat]},
    {config, "config/chat.config"}
]}.


{dist_node, [
    {setcookie, 'cookie'},
    {name, 'chat@127.0.0.1'}
]
}.
